<div class="container">
<%= link_to secrets_path, class:"btn btn-outline-warning" do%>
<i data-feather="chevrons-left"></i> Voltar
<%end%>
<h1>Editar cliente</h1>

<%= render 'form', secret: @secret %>

<div class="row mr-1 ml-1 mt-5">
    <%= link_to @secret, class:"btn btn-block btn-outline-danger" do %>
        <i data-feather="x-circle"></i> Cancelar
    <%end%>
</div>
</div>