<div class="container">

<%= link_to secrets_path, class:"btn btn-outline-warning" do%>
<i data-feather="chevrons-left"></i> Voltar
<%end%>
<h1>Novo Cliente</h1>

<%= render 'form', secret: @secret %>
</div>