/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
 
  blue-dark: #3f3c9b
  blue-soft: #6fc0f2
  neon fushia: #ff425e
  yellow: #ffff00
  canary: #FFFF80

 */

 .disabled{
     color: red;
 }

 .txt-primary{
    color: #3f3c9b;
 }

 .txt-primary-soft{
    color: #6fc0f2;
 }

 .txt-accent{
    color: #ff425e;
 }

 .txt-secondary{
    color: #ffff00;
 }

 .txt-secondary-soft{
    color: #FFFF80;
 }

 .txt-menu{
    color: #cc0000;
 }

 .b-primary{
    background-color: #3f3c9b;
 }

 .b-primary-soft{
    background-color: #6fc0f2;
 }

 .b-accent{
    background-color: #ff425e;
 }

 .b-secondary{
    background-color: #ffff00;
 }

 .b-secondary-soft{
    background-color: #FFFF80;
 }

 .b-blue{
    background-color: #3f3c9b;
 }