<div class="container">
    <h1>Editar plano</h1>

    <%= link_to plans_path, class:"btn btn-outline-warning" do%>
        <i data-feather="chevrons-left"></i> Voltar
    <%end%>

    <%= render 'form', plan: @plan %>

    <%= link_to @plan, class:"btn btn-outline-danger" do %>
        <i data-feather="x-circle"></i> Cancelar
    <%end%>
</div>