<div class="row py-3 border-top border-500" style="max-width: 100vw;">
    <div class="col-md-8 col-sm-12 mb-3">
        <div class="px-5 text-dark font-weight-bold">
            KingNet Provedor - Tecnologia em <span class="font-weight-bold">provedor de internet</span> <br>
            Travessa Sâo José, 37, Arraial do Retiro - Salvador, BA <br>
            Tel.: 4103-0804
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="px-1 d-flex justify-content-center">
            <div class="text-left border-left px-2 border-dark">
            <h5 class="font-weight-bold">Páginas</h5>
            <%= link_to t("menu.clients"), secrets_path, class:"text-muted" %> <br>
            <%= link_to t("menu.plans"), plans_path, class:"text-muted"%> <br>
            <%= link_to t("menu.records"), records_path, class:"text-muted"%> <br>
            </div>
        </div>
    </div>
</div>