<nav class="navbar navbar-expand-lg navbar-light ">
  
  <a class="navbar-brand" href="#">
    <%= image_tag("logofinal.png", height:"40") %>
  </a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item">
        <%= link_to "Clientes", secrets_path%>
      </li>
      <li class="nav-item">
        <%= link_to "Planos", plans_path%>
      </li>
    </ul>
  </div>
</nav>